[data-inline-svg] {
  stroke: var(--color-text);
  stroke-width: 1.5;
  fill: none;
}

[data-inline-svg="fluck-logo-dark-large-horizontal-transparent.svg"] {
  stroke: none;
  fill: var(--color-text);
}
