/docs/
/lib/
/bin/
/.shards/
*.dwarf
start_server
*.dwarf
*.local.cr
.env
/tmp/public/js
/public/css
/public/mix-manifest.json
/node_modules
yarn-error.log

# Crystal
/tmp

# Vite
/public/.vite
/public/css
/public/fonts
/public/images
/public/js
