/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width, var(--max-width-full));
  padding-inline: var(--gutter, var(--gutter-wrapper-inline));
  position: relative;
}

