.hero {
  --wrapper-max-width: var(--max-width-prose);
  margin-inline: auto;
}

.hero[data-layout='home'] {
  --wrapper-max-width: var(--max-width-breakout);
  --flow-space: var(--space-xl);

  h1 {
    text-align: center;
    max-width: none;
  }

  p {
    max-width: var(--max-width-compact);
    margin-inline: auto;
    font-size: var(--step-2);
  }
}

.hero[data-layout='blog'] {
  ul {
    margin-block-start: var(--space-m);
    padding-block-start: var(--space-m);
    border-top: var(--stroke-dotted);
  }
}
