.reveal {
  --default-reveal-offset: 3em;
  --reveal-speed: var(--timing-sloth);
  opacity: 0;
  transform: translateY(var(--reveal-offset, var(--default-reveal-offset)));
  transition-property: opacity, transform;
  transition-duration: var(--reveal-speed);
  transition-timing-function: ease-out;
}

.reveal[data-speed='default'] {
  --reveal-speed: var(--timing-slow);
}
.reveal[data-speed='turtle'] {
  --reveal-speed: var(--timing-turtle);
}
.reveal[data-speed='snail'] {
  --reveal-speed: var(--timing-snail);
}

.reveal[data-state='visible'] {
  opacity: 1;
  transform: none;
}

.reveal:not([data-state='visible'])[data-start='left'] {
  transform: translateX(
    calc(var(--reveal-offset, var(--default-reveal-offset)) * -1)
  );
}
.reveal:not([data-state='visible'])[data-start='right'] {
  transform: translateX(var(--reveal-offset, var(--default-reveal-offset)));
}
.reveal:not([data-state='visible'])[data-start='up'] {
  transform: translateY(
    calc(var(--reveal-offset, var(--default-reveal-offset)) * -1)
  );
}
.reveal:not([data-state='visible'])[data-start='down'] {
  transform: translateY(var(--reveal-offset, var(--default-reveal-offset)));
}
.reveal:not([data-state='visible'])[data-start='none'] {
  transform: none;
}

@media (prefers-reduced-motion: reduce) {
  .reveal {
    transition: none;
    opacity: 1 !important;
    transform: none !important;
  }
}
