.header {
  margin-block-start: var(--space-l);
}

.header > div {
  border-block-end: var(--stroke-dotted);
  padding-block-end: var(--space-m);
  flex-wrap: nowrap;
}

.header nav a {
  font-family: var(--font-mono);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration-thickness: 2px;
  line-height: var(--leading-fine);
}

.header nav a:hover {
  text-underline-offset: auto;
}

.header nav a[aria-current='page'] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.header nav ul {
  margin-block-start: 0;
  margin-block-end: var(--space-2xs);
}

.header__actions {
  display: flex;
  justify-content: flex-end;
}

.header__logo svg {
  height: 2.5em;
  width: auto;
  display: block;
  stroke: none;
  fill: var(--color-text);
}

.header__logo [data-inline-svg='fluck-logo-large-vertical-transparent.svg'] {
  display: none;
  height: 3.5em;
}

@media (max-width: 480px) {
  .header__logo
    [data-inline-svg='fluck-logo-large-horizontal-transparent.svg'] {
    display: none;
  }

  .header__logo [data-inline-svg='fluck-logo-large-vertical-transparent.svg'] {
    display: block;
  }
}
