.header {
  --flow-space: var(--space-xs);
  margin-block-start: var(--space-l);
}

.header > *:first-child {
  border-block-end: var(--stroke-dotted);
  padding-block-end: var(--space-m);
  flex-wrap: nowrap;
  align-items: end;
}

.header__logo svg {
  height: 2.5em;
  width: auto;
  display: block;
  stroke: none;
  fill: var(--color-text);
}

.header__logo [data-inline-svg='fluck-logo-large-vertical-transparent.svg'] {
  display: none;
  height: 3.5em;
}

@media (max-width: 480px) {
  .header__logo
    [data-inline-svg='fluck-logo-large-horizontal-transparent.svg'] {
    display: none;
  }

  .header__logo [data-inline-svg='fluck-logo-large-vertical-transparent.svg'] {
    display: block;
  }
}
