.main-menu a {
  font-family: var(--font-mono);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration-thickness: 2px;
  line-height: var(--leading-fine);
}

.main-menu a:hover {
  text-underline-offset: auto;
}

.main-menu a[aria-current='page'] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.main-menu ul {
  margin-block: 0;
}
