.newsletter__header {
  margin-bottom: var(--space-xl);
  padding-bottom: var(--space-m);

  h1 {
    max-width: none;
  }
}

.newsletter__entries {
  --flow-space: var(--space-xl);
}

.newsletter__entry {
  border-bottom: var(--stroke-dotted);

  &:hover {
    border-bottom: var(--stroke-mid);
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
  }

  time {
    font-weight: bold;
  }
}
