.subscription-form input[type='submit'] {
  margin-block-start: 1.5em;
  max-height: 1.5em;
}

.subscription-form:has(.field__error) {
  animation: shake 0.75s 1;
}

.subscription-form:has(.field__error) input[type='submit'] {
  background-color: var(--color-failure-base);
  border-color: var(--color-failure-base);
}

.subscription-form:has(.field__error) input[type='submit']:hover {
  background-color: var(--color-highlight-text);
}

.subscription-form__success {
  background-color: var(--color-success-base);
  color: var(--color-success-text);
  padding: var(--space-m);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
