body[data-bg] {
  background-size: max(100vw, 820px) auto;
  background-position: center top;
}

body[data-bg='home'] {
  background-image: url('../../images/backgrounds/home-light.svg');
}
body[data-bg='about'] {
  background-image: url('../../images/backgrounds/about-light.svg');
}
body[data-bg='waitlist'] {
  background-image: url('../../images/backgrounds/waitlist-light.svg');
}
body[data-bg='error'] {
  background-image: url('../../images/backgrounds/error.svg');
}

body[data-theme='dark'][data-bg='home'] {
  background-image: url('../../images/backgrounds/home-dark.svg');
}
body[data-theme='dark'][data-bg='about'] {
  background-image: url('../../images/backgrounds/about-dark.svg');
}
body[data-theme='dark'][data-bg='waitlist'] {
  background-image: url('../../images/backgrounds/waitlist-dark.svg');
}

@media (prefers-color-scheme: dark) {
  body[data-bg='home'] {
    background-image: url('../../images/backgrounds/home-dark.svg');
  }
  body[data-bg='about'] {
    background-image: url('../../images/backgrounds/about-dark.svg');
  }
  body[data-bg='waitlist'] {
    background-image: url('../../images/backgrounds/waitlist-dark.svg');
  }

  body[data-theme='light'][data-bg='home'] {
    background-image: url('../../images/backgrounds/home-light.svg');
  }
  body[data-theme='light'][data-bg='about'] {
    background-image: url('../../images/backgrounds/about-light.svg');
  }
  body[data-theme='light'][data-bg='waitlist'] {
    background-image: url('../../images/backgrounds/waitlist-light.svg');
  }
}

@media (forced-colors: none) {
  body[data-bg] {
    forced-color-adjust: none;
    -webkit-forced-color-adjust: none;
    filter: none !important;
    -webkit-filter: none !important;
  }
}

@media (forced-colors: active) {
  body[data-bg] {
    background-image: none !important;
  }
}
