:root {
  --color-text: var(--text-light);
  --color-base: var(--base-light);
  --color-shadow: var(--shadow-light);
  --color-translucent: var(--translucent-light);
  --color-accent-base: var(--duck-egg);
  --color-accent-text: var(--abyss);
  --color-highlight-base: var(--icterine);
  --color-highlight-text: var(--abyss);
  --color-success-base: var(--jade);
  --color-success-text: var(--stone-dark);
  --color-failure-base: var(--raspberry);
  --color-failure-text: var(--stone-light);
  color-scheme: light dark;
}

[data-for-theme='light'] {
  display: initial;
}
[data-for-theme='dark'] {
  display: none;
}

[data-theme='dark'] {
  --color-text: var(--text-dark);
  --color-base: var(--base-dark);
  --color-shadow: var(--shadow-dark);
  --color-translucent: var(--translucent-dark);
  --color-accent-base: var(--abyss);
  --color-accent-text: var(--duck-egg);
  --color-highlight-base: var(--abyss);
  --color-highlight-text: var(--icterine);
  --color-success-base: var(--jade);
  --color-success-text: var(--stone-dark);

  picture {
    opacity: var(--picture-opacity-dark);
  }

  [data-for-theme='light'] {
    display: none;
  }
  [data-for-theme='dark'] {
    display: initial;
  }
}

@media (prefers-color-scheme: light) {
  [data-for-theme='light'] {
    display: initial;
  }
  [data-for-theme='dark'] {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--text-dark);
    --color-base: var(--base-dark);
    --color-shadow: var(--shadow-dark);
    --color-translucent: var(--translucent-dark);
    --color-accent-base: var(--abyss);
    --color-accent-text: var(--duck-egg);
    --color-highlight-base: var(--abyss);
    --color-highlight-text: var(--icterine);
    --color-success-base: var(--jade);
    --color-success-text: var(--stone-dark);
  }

  picture {
    opacity: var(--picture-opacity-dark);
  }

  [data-for-theme='dark'] {
    display: initial;
  }
  [data-for-theme='light'] {
    display: none;
  }

  [data-theme='light'] {
    --color-text: var(--text-light);
    --color-base: var(--base-light);
    --color-shadow: var(--shadow-light);
    --color-translucent: var(--translucent-light);
    --color-accent-base: var(--duck-egg);
    --color-accent-text: var(--abyss);
    --color-highlight-base: var(--icterine);
    --color-highlight-text: var(--abyss);
    --color-success-base: var(--jade);
    --color-success-text: var(--stone-dark);

    [data-for-theme='light'] {
      display: initial;
    }
    [data-for-theme='dark'] {
      display: none;
    }
  }
}
